[loggers]
keys=root,ldap

[handlers]
keys=console,ldap,intel

[formatters]
keys=base

[logger_root]
level=DEBUG
qualname=root
handlers=console,intel

[logger_ldap]
level=DEBUG
qualname=ldap
propagate=0
handlers=console,ldap

[handler_console]
class=lib.ansistrm.ColorizingStreamHandler
level=DEBUG
formatter=base
args=(sys.stdout,)

[handler_intel]
class=logging.FileHandler
level=DEBUG
formatter=base
args=("/path/to/intel.log",)

[handler_ldap]
class=logging.FileHandler
level=INFO
formatter=base
args=("/path/to/ldap.log",)

[formatter_base]
format=[%(asctime)s] [%(filename)s:%(lineno)d] [%(threadName)s] [%(levelname)s] - %(message)s
